#modal-edit.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				h2.modal-title Edit Item
			form(method='POST', action='/shedule/edit')
				input.id-item(type='hidden', name='id')
				.modal-body
					.form-group
						#edit-date-time-picker.input-group.date
							input.form-control.date-item(type='text', name='date')
							span.input-group-addon
								span.glyphicon.glyphicon-calendar
					.input-group
						span.input-group-addon Label
						input.form-control.label-item(type='text', name='title')
				.modal-footer
					button.btn.btn-secondary(type='button', data-dismiss='modal') Close
					input.btn.btn-primary(type='submit', value='Save changes')

			form(method='POST', action='/shedule/delete')						
				input.id-item(type='hidden', name='id')
				input.delete-item.btn.btn-danger(type='submit', value='Delete item')