#modal-edit.modal.fade
	.modal-dialog
		form(method='POST', action='/shedule/edit')
			input.id-item(type='hidden', name='id')
			.modal-content
				.modal-header
					h2.modal-title Edit Item
				.modal-body
					.form-group
						#edit-date-time-picker.input-group.date
							input.form-control.date-item(type='text', name='date')
							span.input-group-addon
								span.glyphicon.glyphicon-calendar
					.input-group
						span.input-group-addon Label
						input.form-control.label-item(type='text', name='label')
				.modal-footer
					button.btn.btn-secondary(type='button', data-dismiss='modal') Close
					input.btn.btn-primary(type='submit', value='Save changes')