extends layout

block content
	.container
		h1 FedotBot.Admin

		a(class="btn btn-primary btn-lg menu-btn", href="/shedule")
			span(class="glyphicon glyphicon-th-list", aria-hidden="true")
			|  Shedule
		a(class="btn btn-primary btn-lg menu-btn", href="/shedule")
			span(class="glyphicon glyphicon-check", aria-hidden="true")
			|  Quests