doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title BotFedot.Admin

		link(rel='stylesheet', href='../static/bower_components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='../static/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
		link(rel='stylesheet', href='../static/css/main.css')
	body
		block content

		script(src='../static/bower_components/jquery/dist/jquery.min.js')
		script(src='../static/bower_components/moment/min/moment.min.js')
		script(src='../static/bower_components/bootstrap/dist/js/bootstrap.min.js')
		script(src='../static/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
		script(src='../static/js/main.js')
