extends layout

block content
	include modules/modalFormEdit
	include modules/modalFormAdd

	.container
		h1 List

		ul.list-group
			li.list-group-item
				button#add-item.btn.btn-default(type='button') Add Item

			each item in list
				li.list-group-item.item(id=item.id)
					span.badge.date-item= item.date
					span.label-item= item.label
